<?xml version="1.0" encoding="UTF-8"?>
<web-app >
	<display-name>BankApplication</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>com.ncs.bank.Registration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.ncs.bank.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout1</display-name>
		<servlet-name>Logout1</servlet-name>
		<servlet-class>com.ncs.bank.Logout1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Deposit</display-name>
		<servlet-name>Deposit</servlet-name>
		<servlet-class>com.ncs.bank.Deposit</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Withdraw</display-name>
		<servlet-name>Withdraw</servlet-name>
		<servlet-class>com.ncs.bank.Withdraw</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout1</servlet-name>
		<url-pattern>/Logout1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deposit</servlet-name>
		<url-pattern>/Deposit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Withdraw</servlet-name>
		<url-pattern>/Withdraw</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
